body {
  font-family: 'Montserrat', sans-serif;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.ai-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.weather-cards .ui.card {
  width: 100%;
}
.weather-cards .weather-detail {
  font-weight: 700;
  margin-bottom: 10px;
}
.weather-cards .weather-detail::before {
  content: ''; /* Выводим линию */
  border-bottom: 1px dashed #ccc; /* Параметры линии */
  flex-grow: 1; /* Линия занимает всё доступное пространство */
  order: 2; /* Выводим вторым */
  margin: 0 5px; /* Расстояние от текста */
 }
 .weather-cards .weather-detail span:last-of-type {
   order: 3;
 }