body {
  font-family: 'Montserrat', sans-serif;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.ai-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.weather-cards .ui.card {
  width: 100%;
}
.weather-cards .weather-detail {
  font-weight: 700;
  margin-bottom: 10px;
}
.weather-cards .weather-detail::before {
  content: '';
  border-bottom: 1px dashed #ccc;
  flex-grow: 1;
  order: 2;
  margin: 0 5px;
 }
 .weather-cards .weather-detail span:last-of-type {
   order: 3;
 }

 @media(max-width: 550px) {
   body .weather-cards>.two.column {
     flex-direction: column;
   }
   body .app .weather-cards>.two.column>.column {
     width: 100% !important
   }
 }
